.DS_Store
.idea
.venv
*.log
logs/dashboard.config
logs/dashboard.pid
__pycache__
data/*.pickle
data/*.lock
data/*.txt
data/egdbf_v1_diagnosis.json
data/egdbf_v1_diagnosis.npz
plot_server.log
simulator.log
*crash.txt
params.txt

docs/

codes/*.json
codes/*.txt
codes/*.alist

lbc_encoder/*.o
lbc_encoder/*.so
